../../../../../.git/annex/objects/Pm/MV/URL-s1514--http&c%%meetings-archive.debian.net%pub%debian-meetings%2007%fosdem%slides%Netconf-Martin_Krafft%slides.rst.template/URL-s1514--http&c%%meetings-archive.debian.net%pub%debian-meetings%2007%fosdem%slides%Netconf-Martin_Krafft%slides.rst.template